<div class="container-fluid main-hero">
  <div class="row">
    <div class="col-lg-3 col-md-6 left-hero-col">
      <div class="card-1">
        <div class="card-body">
          <div class="accordion-left-hero" id="accordionExample">
            <div class="accordion-header">
              Start Times:
            </div>
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Regular Start Time:
                  </button>
                </h2>
              </div>
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="list-group list-group-flush" id="list-group-hero">
                    <li class="list-group-item">
                      Start: <%= Time.now.strftime("%H:%M; %m-%d-%Y") %>
                      <br>
                      Your Time: <%= Time.now.strftime("%H:%M; %m-%d-%Y") %>
                    </li>
                    <li class="list-group-item">Check-in:
                      <%= Time.now.strftime("%H:%M; %m-%d-%Y") %>
                      <br>
                      Your time: <%= Time.now.strftime("%H:%M; %m-%d-%Y") %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Late Start Time:
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <ul class="list-group list-group-flush" id="list-group-hero">
                    <li class="list-group-item">Late Start Time:
                      <br>
                      <%= Time.now.strftime("%H:%M; %m-%d-%Y") %>
                    </li>
                    <li class="list-group-item">Late Check-in Time:
                      <br>
                      <%= Time.now.strftime("%H:%M; %m-%d-%Y") %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="left-hero-manager">
              <div class="accordion-header">
                Your Tournaments:
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Regular Tournament
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group list-group-flush" id="list-group-hero">
                      <li class="list-group-item">
                        <%= "Halo: MCC | 4v4" %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Late Tournament
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group list-group-flush" id="list-group-hero">
                      <li class="list-group-item">
                        <%= link_to(info_tournament_basics_path, class: "dropdown-item") do %>
                          Halo: MCC | 4v4

                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Future Tournaments
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul class="list-group list-group-flush" id="list-group-hero">
                      <li class="list-group-item">
                        <%= link_to(info_tournament_basics_path, class: "dropdown-item") do %>
                          Halo: MCC | 4v4
                          <br>
                          <%= Random.new.rand.round == 1 ? "Regular" : "Late" %>
                          <%= Time.now.strftime("%A")%>
                        <% end %>
                      </li>
                      <li class="list-group-item">
                        <!-- Default dropup button -->
                        <div class="btn-group dropup">
                          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View More
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                            <a class="dropdown-item" href="#">Future Tournament</a>
                            <a class="dropdown-item" href="#">Future Tournament</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mid-hero-col">
      <div class="carousel-wrapper">
        <div id="carousel-hero" class="carousel slide"">
          <ol class="carousel-indicators">
            <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-hero" data-slide-to="1"></li>
            <li data-target="#carousel-hero" data-slide-to="2"></li>
            <li data-target="#carousel-hero" data-slide-to="3"></li>
            <li data-target="#carousel-hero" data-slide-to="4"></li>
            <li data-target="#carousel-hero" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "h3img2.jpg", class: "d-block w-100", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img1.jpg", class: "d-block w-100", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img7.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img4.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img5.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img23.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-hero" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-hero" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 right-hero-col">
      <div class="right-hero">
        <div class="right-hero-slider"></div>
        <div class="right-hero-header"></div>
        <div class="right-hero-body"></div>
        <div class="right-hero-links"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: false,
      ride: false,
      wrap: false
    });
  })
</script>

<script>
  $(function () {
    $('#myList a:last-child').tab('show')
  })
</script>

<%= javascript_pack_tag "hello_react" %>

<div class="container-fluid main-profile box">
  <div class="row no-gutters">
    <div class="col-12">
        <div class="row">
          <div class="col-6">
            <div class="box-header main-profile-header">
              <div class="header-title">
                Log in | Sign up
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="box-header main-profile-header">
              <div class="header-title">
                Media Links
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row main-profile-body">
      <div class="col-6 main-form-col">
        <%= form_for :session, url: session_path do |form| %>
        <div class="form-group">
          <div class="text-field">
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password, class: "form-control" %>
          </div>
        </div>
          <div class="submit-field">
            <%= form.submit "Submit", class: "btn btn-primary" %>
          </div>

          <div class="other-links">
            <% if Clearance.configuration.allow_sign_up? %>
              <%= link_to t(".sign_up"), sign_up_path %>
            <% end %>
            <%= link_to t(".forgot_password"), new_password_path %>
          </div>
        <% end %>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-2 offset-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-2 offset-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-2 offset-2">
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to(root_path, class: "main-profile-link") do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>
          </div>
          <div class="col-2">
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="container-fluid main-games box">
  <div class="row no-gutters">
    <div class="col-6 offset-3">
      <div class="box-header main-games-header">
        <div class="header-title">
          Games

        </div>
      </div>

    </div>
  </div>

</div>

<div class="container-fluid main-basics box">
  <div class="row no-gutters">
    <div class="col-6 offset-3">
      <div class="box-header main-basics-header">
        <div class="header-title">
            Tournament Basics
        </div>
      </div>

    </div>
  </div>

</div>
