<div class="container-fluid hero">
  <div class="row">
    <div class="col-3 left-hero-col">
    </div>
    <div class="col-6 mid-hero-col">
      <div class="carousel-wrapper">
        <div id="carousel-hero" class="carousel slide"">
          <ol class="carousel-indicators">
            <li data-target="#carousel-hero" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-hero" data-slide-to="1"></li>
            <li data-target="#carousel-hero" data-slide-to="2"></li>
            <li data-target="#carousel-hero" data-slide-to="3"></li>
            <li data-target="#carousel-hero" data-slide-to="4"></li>
            <li data-target="#carousel-hero" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "h3img2.jpg", class: "d-block w-100", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img1.jpg", class: "d-block w-100", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img3.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img4.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img5.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
            <div class="carousel-item">
              <%= image_tag "h3img6.jpg", class: "d-block w-100 img-responsive", alt: "" %>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-hero" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-hero" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-3 right-hero-col"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#carousel-hero').carousel({
      interval: false,
      ride: false,
      wrap: false
    });
    $('.carousel-wrapper').carousel({
      interval: false,
      ride: false,
      wrap: false
    });
    $('.carousel').carousel({
      interval: false,
      ride: false,
      wrap: false
    });
  })
</script>
