<div class="footer-section">
	<div class="container-fluid footer-container">
		<div class="row">
			<div class="col-3">
				<div class="footer-header">
					Dashboard:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Profile", root_path %></li>
						<li><%= link_to "Account", root_path %></li>
						<li><%= link_to "Settings", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Awards and Prestige:
				</div>
				<div class="footer-body"></div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Information:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Tournament Basics", root_path %></li>
						<li><%= link_to "Statistics", root_path %></li>
						<li><%= link_to "Reddit", root_path %></li>
						<li><%= link_to "FAQ", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					About Us:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Developers", root_path %></li>
						<li><%= link_to "The Team", root_path %></li>
						<li><%= link_to "Company History", root_path %></li>
						<li><%= link_to "News Articles", root_path %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="footer-header">
					Site Navigation:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Brackets", root_path %></li>
						<li><%= link_to "Manager", root_path %></li>
						<li><%= link_to "Circuit", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Legal:
				</div>
				<div class="footer-body"></div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Privacy:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Standards", root_path %></li>
						<li><%= link_to "Collection of Data", root_path %></li>
						<li><%= link_to "User Agreement", root_path %></li>
						<li><%= link_to "Commitment", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Support:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Live Chat", root_path %></li>
						<li><%= link_to "Phone Number", root_path %></li>
						<li><%= link_to "Email Contact", root_path %></li>
						<li><%= link_to "Discord Support", root_path %></li>
						<li><%= link_to "Reddit Support", root_path %></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="footer-header">
					Mythic:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Mythic Console", root_path %></li>
						<li><%= link_to "Mythic Engine", root_path %></li>
						<li><%= link_to "Mythic Game", root_path %></li>
						<li><%= link_to "Mythic Studios", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Developer:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Web API", root_path %></li>
						<li><%= link_to "Game API", root_path %></li>
						<li><%= link_to "Github", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Jobs
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Open Positions", root_path %></li>
						<li><%= link_to "General Apply", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Thank You:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Appreciation Letter", root_path %></li>
						<li><%= link_to "Consistency", root_path %></li>
						<li><%= link_to "Dedication", root_path %></li>

					</ul>
				</div>
			</div>
		</div>
		<div class="row power-social-row">
			<div class="col-6">
				<div class="footer-header">
					Powered By:
				</div>
				<div class="footer-body">
					<div class="row">
						<div class="col-2 offset-1">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-linux fa-2x"></i>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-html5 fa-2x"></i>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-css3 fa-2x"></i>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-sass fa-2x"></i>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-bootstrap fa-2x"></i>
							<% end %>

						</div>
					</div>
					<div class="row">
						<div class="col-2 offset-1">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-yarn fa-2x"></i>
							<% end %>


						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-react fa-2x"></i>
							<% end %>


						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="far fa-gem fa-2x"></i>
							<% end %>


						</div>
						<div class="col-2 logo-col">
							<%= link_to("https://rubyonrails.org/", class: "", target: "_blank") do %>
								<%= image_tag "logo.svg.png" %>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-digital-ocean fa-2x"></i>
							<% end %>

						</div>
					</div>
					<div class="row">
						<div class="col-2 offset-1">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-stripe fa-2x"></i>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-discord fa-2x"></i>
							<% end %>

						</div>
						<div class="col-2">
							<%= link_to(root_path, class: "") do %>
								<i class="fab fa-pied-piper-alt fa-2x"></i>
							<% end %>


						</div>
						<div class="col-2">

						</div>
						<div class="col-2"></div>
					</div>

				</div>
			</div>
			<div class="col-6">
				<div class="footer-header">
					Social Media:
				</div>
				<div class="footer-body">
					<div class="row">
						<div class="col-2 offset-1">
							<%= link_to("https://github.com/mattgaudio/mythic-rails", class: "", target: "_blank") do %>
								<i class="fab fa-github fa-2x"></i>
							<% end %>
						</div>
						<div class="col-2">
							<%= link_to("https://www.reddit.com/r/MythicGaming/", class: "", target: "_blank") do %>
								<i class="fab fa-reddit fa-2x"></i>
							<% end %>
						</div>
						<div class="col-2">
							<i class="fab fa-twitch fa-2x"></i>
						</div>
						<div class="col-2">
							<i class="fab fa-linkedin fa-2x"></i>
						</div>
						<div class="col-2">
							<i class="fab fa-instagram fa-2x"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-2 offset-1">
							<i class="fab fa-facebook-square fa-2x"></i>
						</div>
						<div class="col-2">
							<i class="fab fa-youtube fa-2x"></i>
						</div>
						<div class="col-2">
							<i class="fab fa-twitter fa-2x"></i>
						</div>
						<div class="col-2">
							<i class="fab fa-discord fa-2x"></i>

						</div>
						<div class="col-2">
							<%= link_to("https://angel.co/company/mythic-gaming-entertainment", class: "", target: "_blank") do %>
								<i class="fab fa-angellist fa-2x"></i>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 offset-2 copy-col">
				<li>&copy; <%= Time.now.strftime("%Y") %> MythicGaming.net</li>
				<br>
				<li>&copy; <%= Time.now.strftime("%Y") %> Mythic Gaming Ent</li>
			</div>
		</div>
	</div>
</div>
