<div class="footer-section">
	<div class="container-fluid footer-container">
		<div class="row footer-game-row">
			<div class="col-3">
				<div class="footer-header footer-fps-header">
					FPS Games:
				</div>
				<div class="footer-body">
					<ul>
						<% @games.fps.each do |x| %>
							<li><%= link_to "#{x.long_title}", root_path %></li>
						<% end %>
					</ul>
				</div>


			</div>
			<div class="col-3">
				<div class="footer-header footer-moba-header">
					MOBA Games:
				</div>
				<div class="footer-body">
					<ul>
						<% @games.moba.each do |x| %>
							<li><%= link_to "#{x.long_title}", root_path %></li>
						<% end %>
					</ul>
				</div>


			</div>
			<div class="col-3">
				<div class="footer-header footer-hero-header">
					HERO Games:
				</div>
				<div class="footer-body">
					<ul>
						<% @games.hero.each do |x| %>
							<li><%= link_to "#{x.long_title}", root_path %></li>
						<% end %>
					</ul>
				</div>


			</div>
			<div class="col-3">
				<div class="footer-header footer-more-header">
					MORE Games:
				</div>
				<div class="footer-body">
					<ul>
						<% @games.more.each do |x| %>
							<li><%= link_to "#{x.long_title}", root_path %></li>
						<% end %>
					</ul>
				</div>


			</div>
		</div>

		<div class="row">
			<div class="col-3">
				<div class="footer-header">
					Profile:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Dashboard", root_path %></li>
						<li><%= link_to "Profile", root_path %></li>
						<li><%= link_to "Account", root_path %></li>
						<li><%= link_to "Settings", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Awards and Prestige:
				</div>
				<div class="footer-body"></div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Statistics:
				</div>
				<div class="footer-body"></div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					About Us:
				</div>
				<div class="footer-body"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="footer-header">
					Site Navigation:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "Brackets", root_path %></li>
						<li><%= link_to "Manager", root_path %></li>
						<li><%= link_to "Circuit", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Legal:
				</div>
				<div class="footer-body"></div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Information:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Tournament Basics", root_path %></li>
						<li><%= link_to "FAQ", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Support:
				</div>
				<div class="footer-body"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<div class="footer-header">
					Mythic:
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Mythic Studios", root_path %></li>
						<li><%= link_to "Mythic Console", root_path %></li>
						<li><%= link_to "Mythic Game", root_path %></li>
						<li><%= link_to "Circuit", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">
					Developer API
				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "API", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">

				</div>
				<div class="footer-body">
					<ul>
						<li><%= link_to "Tournament Basics", root_path %></li>
						<li><%= link_to "FAQ", root_path %></li>
					</ul>
				</div>
			</div>
			<div class="col-3">
				<div class="footer-header">

				</div>
				<div class="footer-body"></div>
			</div>
		</div>
		<div class="row power-social-row">
			<div class="col-6">
				<div class="footer-header">
					Powered By:
				</div>
				<div class="footer-body">
					<i class="fas fa-camera"></i>
					<i class="fab fa-github"></i>
					<i class="fab fa-reddit"></i>
				</div>
			</div>
			<div class="col-6">
				<div class="footer-header">
					Social Media:
				</div>
				<div class="footer-body"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 offset-2 copy-col">
				<li>&copy; <%= Time.now.strftime("%Y") %> MythicGaming.net</li>
				<li>&copy; <%= Time.now.strftime("%Y") %> Mythic Gaming Ent</li>
			</div>
		</div>
	</div>
</div>
