<nav class="nav navbar navbar-expand-lg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fa fa-navicon"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav">
      <ul class="nav-left">
        <li class="nav-item">
          <%= link_to "Mythic Gaming", root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="nav-mid">
        <div class="btn-group dropdown">
          <%= link_to "Games", root_path, class: "nav-link", id: "drop-2", role: "button", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': 'false' %>
          <div class="dropdown-menu" aria-labelledby="drop-2">
            <div class="row mid-games-row">
              <div class="col-3">
                <div class="dropdown-header">FPS Games</div>
                <div class="dropdown-divider"></div>
                <% @games.fps.each do |game| %>
                    <%= link_to game.short_title, root_path, class: "dropdown-item" %>
                <% end %>
              </div>
              <div class="col-3">
                <div class="dropdown-header">MOBA Games</div>
                <div class="dropdown-divider"></div>
                <% @games.moba.each do |game| %>
                    <%= link_to game.short_title, root_path, class: "dropdown-item" %>
                <% end %>
              </div>
              <div class="col-3">
                <div class="dropdown-header">HERO Games</div>
                <div class="dropdown-divider"></div>
                <% @games.hero.each do |game| %>
                    <%= link_to game.short_title, root_path, class: "dropdown-item" %>
                <% end %>
              </div>
              <div class="col-3">
                <div class="dropdown-header">MORE Games</div>
                <div class="dropdown-divider"></div>
                <% @games.more.each do |game| %>
                    <%= link_to game.short_title, root_path, class: "dropdown-item" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-group dropdown">
          <%= link_to "Manager", root_path, class: "nav-link", id: "drop-3", role: "button", 'data-toggle': "dropdown" %>
          <div class="dropdown-menu" aria-labelledby="drop-3">
            <div class="dropdown-header">Regular</div>
            <%= link_to "Reddit", root_path, class: "dropdown-item" %>
            <div class="dropdown-divder"></div>
            <div class="dropdown-header">Late</div>
            <%= link_to "Reddit", root_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">Future</div>
            <%= link_to "Reddit", root_path, class: "dropdown-item" %>
            <%= link_to "Reddit", root_path, class: "dropdown-item" %>
            <%= link_to "Reddit", root_path, class: "dropdown-item" %>
          </div>
        </div>
        <div class="btn-group dropdown">
          <%= link_to "Circuit", root_path, class: "nav-link", id: "drop-4", role: "button", 'data-toggle': "dropdown" %>
          <div class="dropdown-menu" aria-labelledby="drop-4">
            <div class="dropdown-header">Home</div>
            <%= link_to "Circuit", root_path, class: "dropdown-item" %>
            <div class="dropdown-divder"></div>
            <div class="dropdown-header">Team</div>
            <%= link_to "Cloud9", root_path, class: "dropdown-item" %>
          </div>
        </div>
        <div class="btn-group dropdown">
          <%= link_to "Information", root_path, class: "nav-link", id: "drop-5", role: "button", 'data-toggle': "dropdown" %>
          <div class="dropdown-menu" aria-labelledby="drop-5">
            <%= link_to "Tournament Basics",  info_tournament_basics_path, method: :get, class: "dropdown-item" %>
            <%= link_to "Statistics", info_statistics_path, method: :get, class: "dropdown-item" %>
            <%= link_to "Reddit", "https://www.reddit.com/r/mythicgaming", method: :get, class: "dropdown-item", target: '_blank' %>
            <%= link_to "Support", info_support_path, method: :get, class: "dropdown-item" %>
            <%= link_to "FAQ", info_faq_path, method: :get, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">More</div>
            <%= link_to "Mythic Studios", root_path, class: "dropdown-item" %>
            <%= link_to "Mythic Console", root_path, class: "dropdown-item" %>
            <%= link_to "Mythic Game", root_path, class: "dropdown-item" %>


          </div>
        </div>
      </ul>
      <ul class="nav-right">
        <% if signed_in? %>
          <div class="btn-group dropdown">
            <%= link_to "Comms", root_path, class: "nav-link", id: "drop-comms", role: "button", 'data-toggle': "dropdown" %>
            <div class="dropdown-menu" aria-labelledby="drop-comms">
              <div class="dropdown-header">Communications</div>
              <%= link_to "Discord", root_path, class: "dropdown-item" %>
              <%= link_to "History", root_path, class: "dropdown-item" %>
            </div>
          </div>
          <div class="btn-group dropdown">
            <%= link_to current_user.email, root_path, class: "nav-link", id: "drop-4", role: "button", 'data-toggle': "dropdown" %>
            <div class="dropdown-menu" aria-labelledby="drop-4">
              <div class="dropdown-header">Account</div>
              <%= link_to "Dashboard", root_path, class: "dropdown-item" %>
              <%= link_to "Profile", root_path, class: "dropdown-item" %>
              <%= link_to "Payment", root_path, class: "dropdown-item" %>
              <%= link_to "Settings", root_path, class: "dropdown-item" %>

              <div class="dropdown-divider"></div>
              <div class="dropdown-header">Staff</div>
              <%= link_to "Admin", admin_root_path, class: "dropdown-item" %>
              <%= link_to "Github", "https://github.com/mattgaudio/mythic-rails", class: "dropdown-item", target: "_blank" %>
              <%= link_to "Pay", root_path, class: "dropdown-item" %>
              <%= link_to "Slack", root_path, class: "dropdown-item" %>
              <%= link_to "Time Sheet", root_path, class: "dropdown-item" %>

              <div class="dropdown-divider"></div>
              <div class="dropdown-header">Session</div>
              <%= link_to "Log out", sign_out_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>

        <% else %>
          <%= link_to "Log in | Sign up", sign_in_path, class: "nav-link", 'data-toggle': "modal", 'data-target': "#exampleModalCenter" %>
        <% end %>


        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                  <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Log in</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Sign up</a>
                    </li>
                  </ul>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <%= form_for :session, url: session_path do |form| %>
                    <div class="form-group">
                      <div class="text-field">
                        <%= form.label :email %>
                        <%= form.text_field :email, type: 'email', class: "form-control" %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="password-field">
                        <%= form.label :password %>
                        <%= form.password_field :password, class: "form-control" %>
                      </div>
                    </div>
                      <div class="submit-field">
                        <%= form.submit "Submit", class: "btn btn-primary" %>
                      </div>

                      <div class="other-links">
                        <% if Clearance.configuration.allow_sign_up? %>
                          <%= link_to t(".sign_up"), sign_up_path %>
                        <% end %>
                        <%= link_to t(".forgot_password"), new_password_path %>
                      </div>
                    <% end %>
                  </div>
                  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </ul>
  </div>
</nav>

<script>
  $(document).ready(function(){
    $('#drop').dropdown();
  });
</script>
