<nav class="nav">
  <ul class="nav-left">
    <li class="nav-item">
      <%= link_to "Mythic Gaming", root_path, class: "nav-link" %>
    </li>
  </ul>
  <ul class="nav-mid">
    <div>
      <%= link_to "Games", root_path, class: "nav-link", id: "drop-2", role: "button", 'data-toggle': "dropdown" %>
      <div class="dropdown-menu" aria-labelledby="drop-2">
        <div class="row">
          <div class="col-3">
            <div class="dropdown-header">FPS Games</div>
            <div class="dropdown-divider"></div>
            <% @games.each do |game| %>
              <% if (game.game_type == "fps") %>
                <%= link_to game.short_title, root_path, class: "dropdown-item" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-3">
            <div class="dropdown-header">MOBA Games</div>
            <div class="dropdown-divider"></div>
            <%= button_to "Reddit", root_path, class: "dropdown-item" %>
            <%= button_to "FAQ", root_path, class: "dropdown-item" %>
            <%= button_to "Tournament Basics", root_path, class: "dropdown-item" %>
            <%= button_to "Support", root_path, class: "dropdown-item" %>
          </div>
          <div class="col-3">
            <div class="dropdown-header">HERO Games</div>
            <div class="dropdown-divider"></div>
            <%= button_to "Reddit", root_path, class: "dropdown-item" %>
            <%= button_to "FAQ", root_path, class: "dropdown-item" %>
            <%= button_to "Tournament Basics", root_path, class: "dropdown-item" %>
            <%= button_to "Support", root_path, class: "dropdown-item" %>
          </div>
          <div class="col-3">
            <div class="dropdown-header">MORE Games</div>
            <div class="dropdown-divider"></div>
            <%= button_to "Reddit", root_path, class: "dropdown-item" %>
            <%= button_to "FAQ", root_path, class: "dropdown-item" %>
            <%= button_to "Tournament Basics", root_path, class: "dropdown-item" %>
            <%= button_to "Support", root_path, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <%= link_to "Manager", root_path, class: "nav-link", id: "drop-2", role: "button", 'data-toggle': "dropdown" %>
      <div class="dropdown-menu" aria-labelledby="drop-2">
        <div class="dropdown-header">Regular</div>
        <%= button_to "Reddit", root_path, class: "dropdown-item" %>
        <div class="dropdown-divder"></div>
        <div class="dropdown-header">Late</div>
        <%= button_to "Reddit", root_path, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">Future</div>
        <%= button_to "Reddit", root_path, class: "dropdown-item" %>
        <%= button_to "Reddit", root_path, class: "dropdown-item" %>
        <%= button_to "Reddit", root_path, class: "dropdown-item" %>

      </div>
    </div>
    <div>
      <%= link_to "Circuit", root_path, class: "nav-link", id: "drop-2", role: "button", 'data-toggle': "dropdown" %>
      <div class="dropdown-menu" aria-labelledby="drop-2">
        <div class="dropdown-header">Home</div>
        <%= button_to "Circuit", root_path, class: "dropdown-item" %>
        <div class="dropdown-divder"></div>
        <div class="dropdown-header">Team</div>
        <%= button_to "Cloud9", root_path, class: "dropdown-item" %>

      </div>
    </div>
    <div>
      <%= link_to "Information", root_path, class: "nav-link", id: "drop-2", role: "button", 'data-toggle': "dropdown" %>
      <div class="dropdown-menu" aria-labelledby="drop-2">
        <%= button_to "Tournament Basics",  info_tournament_basics_path, method: :get, class: "dropdown-item" %>
        <%= button_to "Statistics", info_statistics_path, method: :get, class: "dropdown-item" %>
        <%= button_to "Reddit", "https://www.reddit.com/r/mythicgaming", method: :get, class: "dropdown-item", target: '_blank' %>
        <%= button_to "Support", info_support_path, method: :get, class: "dropdown-item" %>
        <%= button_to "FAQ", info_faq_path, method: :get, class: "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">More</div>
        <%= button_to "Mythic Studios", root_path, class: "dropdown-item" %>
        <%= button_to "Mythic Console", root_path, class: "dropdown-item" %>
        <%= button_to "Mythic Game", root_path, class: "dropdown-item" %>


      </div>
    </div>
  </ul>
  <ul class="nav-right">
    <% if signed_in? %>
      <%= link_to current_user.email, root_path, class: "nav-link", id: "drop-4", role: "button", 'data-toggle': "dropdown" %>
    <% else %>
      <%= link_to "Log in | Sign up", sign_in_path, class: "nav-link", 'data-toggle': "modal", 'data-target': "#exampleModalCenter" %>
    <% end %>
    <div class="dropdown-menu" aria-labelledby="drop-4">
      <div class="dropdown-header">Account</div>
      <%= button_to "Dashboard", root_path, class: "dropdown-item" %>
      <%= button_to "Profile", root_path, class: "dropdown-item" %>
      <%= button_to "Payment", root_path, class: "dropdown-item" %>
      <%= button_to "Settings", root_path, class: "dropdown-item" %>

      <div class="dropdown-divider"></div>
      <div class="dropdown-header">Staff</div>
      <%= link_to "Admin", admin_root_path, class: "dropdown-item" %>
      <%= link_to "Github", "https://github.com/mattgaudio/mythic-rails", class: "dropdown-item" %>
      <%= button_to "Pay", root_path, class: "dropdown-item" %>
      <%= button_to "Slack", root_path, class: "dropdown-item" %>
      <%= button_to "Time Sheet", root_path, class: "dropdown-item" %>

      <div class="dropdown-divider"></div>
      <div class="dropdown-header">Session</div>
      <%= button_to "Log out", sign_out_path, method: :delete, class: "dropdown-item" %>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
              <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Sign up</a>
                </li>
              </ul>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <%= form_for :session, url: session_path do |form| %>
                <div class="form-group">
                  <div class="text-field">
                    <%= form.label :email %>
                    <%= form.text_field :email, type: 'email', class: "form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="password-field">
                    <%= form.label :password %>
                    <%= form.password_field :password, class: "form-control" %>
                  </div>
                </div>
                  <div class="submit-field">
                    <%= form.submit "Submit", class: "btn btn-primary" %>
                  </div>

                  <div class="other-links">
                    <% if Clearance.configuration.allow_sign_up? %>
                      <%= link_to t(".sign_up"), sign_up_path %>
                    <% end %>
                    <%= link_to t(".forgot_password"), new_password_path %>
                  </div>
                <% end %>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </ul>
</nav>

<script>
  $(document).ready(function(){
    $('#drop').dropdown();
  });
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
