<div id="clearance" class="sign-up d-flex justify-content-center">
  <div id="bg-signup" style="font-size: 4.5vh;padding: 150px;
  ">
  <p style="color: white; font-family: 'Allan';font-size: 5vh;
"><strong><%= t(".title")%></strong></p>
  <div style="font-size: 2vh;" class="form-row d-flex justify-content-center">
   <div class="col-md">
  <%= form_for(@user,class: "form-horizontal" ) do |form|%>
    <%= render partial: '/users/form', object: form %>

    <div class="form-group">
      <%= form.submit "Sign Up",class: "btn btn-dark btn-lg" %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
  </div>
  </div>
</div>
</div>
